.content {
  margin-bottom: 20px;

  &--panorama {
    margin-left: 0;
    margin-right: 0;
  }
}

.content__photo {
  text-align: center;

  &--panorama {
    padding: 0;
  }
}

.content__link {
  display: block;

  cursor: pointer;
}

.content__img {
  display: block;

  width: 100%;
  border: 0;
}

.content__text {
  padding: 20px 15px;

  .text();
  background-color: @grey-bg-color;

  &--panorama {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;

    &::before {
      position: absolute;
      z-index: 1;

      display: block;
      padding: 10px 20px;
      top: -137px;
      right: 0;

      content: "Панорама дня";
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      color: @base-light-color;
      text-transform: uppercase;
      text-align: center;
      background-color: @add-color;
    }
  }
}

.content__name {
  margin: 0;

  font-weight: 700;
}

.content__time {
  .add-text();
  font-weight: 300;
  text-transform: uppercase;
}

.content__comment {
  margin: 0;
}

.content__rate {
  display: flex;

  padding-top: 10px;
}

.content__likes-button {
  border: 0;
  background-color: transparent;
}

.content__likes-count {
  margin: 0;
  padding-left: 10px;

  .add-text();
  color: @add-color;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .content__text {
    position: relative;

    padding: 25px 30px;

    &--panorama {
      position: relative;

      width: 660px;
      margin: 0 auto;

      &::before {
        top: -450px;
      }
    }
  }

  .content__rate {
    display: flex;
    align-items: center;
    padding-top: 15px;

    &--panorama {
      position: absolute;
      z-index: 1;

      top: 10px;
      right: 60px;
    }
  }

  .content__likes-button {
    &--panorama {
      order: 2;
    }
  }

  .content__likes-count {
    &--panorama {
      order: 1;
      padding-left: 0;
      padding-right: 10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .content__text {
    &--panorama {
      width: 960px;
    }
  }
}
