.copyright {
  &__text {
    margin: 0;
    padding-right: 15px;

    .text();
  }

  &__link {
    width: 27px;
    height: 35px;

    &:hover path,
    &:focus path {
      fill: @base-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
