.copyright__text {
  margin: 0;
  padding-right: 10px;

  .text();
}

.copyright__link {
  width: 27px;
  height: 35px;

  &:hover path,
  &:focus path {
    fill: @base-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
