.form {
  padding-top: 50px;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mobile-wrapper();
  padding-top: 40px;
  padding-bottom: 40px;

  &--one {
    padding-top: 20px;
  }

  &--two {
    background-color: @grey-bg-color;
  }

  &--three {
    padding-top: 20px;
  }

  &--four {
    background-color: @grey-bg-color;
  }
}

.form__intro {
  .mobile-wrapper();

  text-align: center;
}

.form__text {
  .text();
  margin: 0;

  &--add {
    display: none;
  }
}

.form__fieldset {
  width: 100%;

  border: 0;
  padding: 0;
  margin: 0;

  &--one {
    width: 100%;
    border: 0;
  }
}

.form__field-wrapper {
  display: flex;
  flex-direction: column;
}

.form__label {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;

  .text();
  color: @base-color;

  &--red {
    color: @add-color;
    text-transform: uppercase;
  }
}

.form__legend {
  padding-bottom: 15px;

  .text();
  color: @add-color;
  text-align: center;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }
}

.form__input {
  width: 100%;
  height: 60px;
  padding: 20px;

  .subtitle();
  line-height: 30px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  outline: none;

  &:hover {
    border: 2px solid @base-color;
  }

  &:focus {
    border: 2px solid @add-color;
  }
}

.form__list {
  width: 100%;
  .list();
}

.form__item {
  margin-top: 40px;

  &:first-child {
    margin-top: 25px;
  }
}

.form__textarea {
  width: 100%;
  padding: 20px;

  .subtitle();
  line-height: 30px;
  font-weight: 400;
  border: 2px solid #e5e5e5;

  resize: none;
  outline: none;

  &:hover {
    border: 2px solid @base-color;
  }

  &:focus {
    border: 2px solid @add-color;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mobile-wrapper();
}

.form__button {
  .button();
  width: 284px;

  .subtitle();
  color: @base-light-color;
  text-transform: uppercase;

  background-color: #2aab6d;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: #7abc98;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__notification {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 15px;

  .text();
  text-transform: uppercase;
  text-align: center;

  & sup {
    color: @add-color;
  }

  .form__btn {
    .visually-hidden();
  }
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    padding-top: 95px;
  }

  .form__group {
    .tablet-wrapper();
    padding-top: 30px;
    padding-bottom: 30px;

    &--one {
      order: 1;
      padding-top: 0;
      padding-bottom: 0;
    }

    &--two {
      order: 4;
      background-color: @base-light-color;
    }

    &--three {
      order: 3;
      padding-top: 30px;
    }

    &--four {
      order: 2;
      background-color: @base-light-color;
      padding-top: 0;
    }

    &--five {
      order: 5;
    }
  }

  .form__intro {
    .tablet-wrapper();
    padding-bottom: 50px;
  }

  .form__text {
    padding-left: 60px;
    padding-right: 60px;

    font-size: 18px;
    line-height: 30px;

    &--add {
      display: inline;
    }
  }

  .form__fieldset {
    width: 620px;
    border: 2px solid #e5e5e5;

    &--one {
      display: flex;
      flex-direction: row;

      border: 0;
    }
  }

  .form__field-wrapper {
    &--one {
      flex-direction: row;
      align-items: center;

      padding-bottom: 50px;
    }

    &--three {
      flex-direction: column;

      margin-right: 60px;
      margin-left: 60px;
    }

    &--five {
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  .form__label {
    &--one {
      padding: 0;
      padding-right: 20px;
    }

    &--three {
      padding-top: 15px;
      padding-left: 20px;
      padding-bottom: 35px;
      order: 2;
    }
  }

  .form__input {
    &--three {
      order: 1;
    }
  }

  .form__legend {
    padding-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;

    &--contacts {
      display: inline-block;
      margin-bottom: 35px;
    }
  }

  .form__list {
    padding-left: 60px;
    padding-bottom: 52px;
    padding-top: 45px;
  }

  .form__item {
    &:first-child {
      margin-top: 0;
    }
  }

  .form__textarea {
    margin-top: 35px;
    margin-bottom: 50px;
  }

  .form__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 6;

    padding-top: 35px;
    padding-bottom: 50px;
    .tablet-wrapper();
  }

  .form__notification {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    .desktop-wrapper();
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .form__intro {
    padding-left: 0;
    padding-right: 0;
  }

  .form__group {
    width: 433px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    &--three {
      width: 100%;
    }

    &--two {
      width: 100%;
    }

    &--five {
      width: 100%;
    }
  }

  .form__fieldset {
    width: 100%;

    &--three {
      flex-direction: row;
    }
  }

  .form__list {
    &--radio {
      padding-left: 70px;
    }

    &--checkbox {
      columns: 3;
    }
  }

  .form__field-wrapper {
    &--three {
      position: relative;
      width: 375px;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .form__container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .form__input {
    font-size: 18px;
  }

  .form__label:not(.form__label--red) {
    font-size: 18px;
  }

  .form__fieldset-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 60px;
  }

  .form__btn {
    position: absolute;
    z-index: 1;
    right: 0;

    display: block;
    width: 60px;
    height: 60px;

    background-color: #e5e5e5;
    background-position: center;
    background-repeat: no-repeat;

    outline: none;
    border: 0;

    &--number {
      background-image: url("../img/icon-phone.svg");
    }

    &--email {
      background-image: url("../img/icon-mail.svg");
    }
  }
}
