.form {
  padding-top: 45px;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mobile-wrapper();
  max-width: 100%;
  padding-top: 38px;
  padding-bottom: 42px;

  &--one {
    padding-top: 18px;
    padding-bottom: 45px;
  }

  &--two {
    padding-top: 35px;
    background-color: @grey-bg-color;
  }

  &--three {
    padding-top: 15px;
  }

  &--four {
    background-color: @grey-bg-color;
  }

  &--five {
    padding-bottom: 44px;
  }
}

.form__intro {
  .mobile-wrapper();

  text-align: center;
}

.form__text {
  .text();
  line-height: 30px;
  margin: 0;

  &--add {
    .visually-hidden();
  }
}

.form__fieldset {
  width: 100%;

  border: 0;
  padding: 0;
  margin: 0;
}

.form__field-wrapper {
  display: flex;
  flex-direction: column;
}

.form__label {
  padding-top: 20px;
  padding-left: 22px;
  padding-bottom: 10px;

  .text();
  color: @base-color;

  &--red {
    color: @add-color;
    text-transform: uppercase;
  }
}

.form__legend {
  padding-bottom: 24px;

  .text();
  line-height: 18px;
  color: @add-color;
  text-align: center;
  text-transform: uppercase;

  &--checkbox {
    padding-left: 15px;
    padding-right: 15px;
  }

  &--textarea {
    padding-bottom: 20px;
  }

  &--contacts {
    .visually-hidden();
  }
}

.form__input {
  width: 100%;
  height: 60px;
  padding: 20px;

  .subtitle();
  line-height: 30px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  background-color: @base-light-color;
  outline: none;

  &:hover {
    border: 2px solid @base-color;
  }

  &:focus {
    border: 2px solid @add-color;
  }

  &--required {
    background-color: rgb(241, 202, 202);
  }
}

.form__list {
  width: 100%;
  .list();
}

.form__item {
  margin-top: 49px;

  &:first-child {
    margin-top: 19px;
  }
}

.form__textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px 20px;

  .subtitle();
  line-height: 30px;
  font-weight: 400;
  border: 2px solid #e5e5e5;

  resize: none;
  outline: none;

  &:hover {
    border: 2px solid @base-color;
  }

  &:focus {
    border: 2px solid @add-color;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mobile-wrapper();
}

.form__button {
  .button();
  width: 280px;
  padding-top: 22px;
  padding-bottom: 22px;

  .subtitle();
  color: @base-light-color;
  text-transform: uppercase;

  background-color: #2aab6d;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: #7abc98;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__notification {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;

  .text();
  text-transform: uppercase;
  text-align: center;

  & sup {
    color: @add-color;
  }

  &--add {
    .visually-hidden();
  }
}

.form__btn {
  .visually-hidden();
}


@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    padding-top: 92px;
  }

  .form__group {
    max-width: 660px;
    padding-top: 30px;
    padding-bottom: 25px;

    &--one {
      order: 1;
      padding-top: 0;
      padding-bottom: 0;
    }

    &--two {
      order: 4;
      background-color: @base-light-color;
    }

    &--three {
      order: 3;
    }

    &--four {
      order: 2;
      background-color: @base-light-color;
      padding-top: 0;
    }

    &--five {
      order: 5;
    }
  }

  .form__intro {
    max-width: 660px;
    padding-bottom: 74px;
  }

  .form__text {
    padding-left: 60px;
    padding-right: 60px;

    font-size: 18px;
    line-height: 30px;

    &--add {
      position: relative;
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;

      overflow: visible;
      clip-path: none;
    }
  }

  .form__fieldset {
    width: 620px;
    border: 2px solid #e5e5e5;

    &--one {
      display: flex;
      flex-direction: row;

      border: 0;
    }
  }

  .form__field-wrapper {
    &--one {
      flex-direction: row;
      align-items: center;

      padding-bottom: 55px;
    }

    &--three {
      position: relative;
      flex-direction: column;

      margin-right: 60px;
      margin-left: 60px;
    }

    &--five {
      margin-left: 60px;
      margin-right: 60px;
    }
  }

  .form__label {
    &--one {
      padding: 0;
      padding-right: 20px;
    }

    &--three {
      padding-top: 15px;
      padding-left: 20px;
      padding-bottom: 32px;
      order: 2;
    }
  }

  .form__input {
    &--three {
      order: 1;
    }
  }

  .form__legend {
    padding-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;

    &--contacts {
      position: relative;
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0;
      margin-bottom: 40px;
      overflow: visible;
      clip-path: none;
    }
  }

  .form__list {
    padding-left: 58px;
    padding-bottom: 55px;
    padding-top: 35px;

    &--checkbox {
      padding-bottom: 50px;
    }
  }

  .form__item {
    margin-top: 48px;

    &:first-child {
      margin-top: 15px;
    }
  }

  .form__textarea {
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .form__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 6;

    max-width: 660px;
    padding-top: 43px;
    padding-bottom: 50px;
  }

  .form__button {
    width: 300px;
  }

  .form__notification {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form__btn {
    position: absolute;
    z-index: 1;
    right: 2px;
    top: 2px;

    display: block;
    width: 60px;
    height: 56px;
    margin: 0;

    background-color: #e5e5e5;
    background-position: center;
    background-repeat: no-repeat;

    outline: none;
    border: 0;
    clip-path: none;
    clip: auto;

    &--number {
      background-image: url("../img/icon-phone.svg");
    }

    &--email {
      background-image: url("../img/icon-mail.svg");
    }
  }
}

@media (min-width: @desktop-width) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    max-width: 960px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form__intro {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 68px;
  }

  .form__group {
    width: 433px;
    padding: 0;
    margin: 0;
    padding-bottom: 55px;

    &--two,
    &--three,
    &--five {
      width: 100%;
      max-width: 960px;
      padding-bottom: 55px;
    }
  }

  .form__fieldset {
    width: 100%;

    &--one {
      padding-left: 0;
      padding-right: 0;
      padding-top: 18px;
    }

    &--three {
      flex-direction: row;
    }
  }

  .form__list {
    &--radio {
      padding-left: 72px;
      padding-bottom: 55px;
      padding-top: 37px;
    }

    &--checkbox {
      padding-top: 45px;
      columns: 3;
    }
  }

  .form__item {
    &:first-child {
      margin-top: 0;
    }
  }

  .form__field-wrapper {
    &--one {
      padding-bottom: 56px;
    }

    &--three {
      width: 375px;
      margin-right: 0;
      margin-left: 0;
    }

    &--patronymic {
      padding-bottom: 0;
    }
  }

  .form__container {
    width: 100%;
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 12px;
  }

  .form__input {
    font-size: 18px;
  }

  .form__label:not(.form__label--red) {
    font-size: 18px;
  }

  .form__label {
    &--three {
      padding-top: 12px;
      padding-left: 20px;
      padding-bottom: 16px;
    }
  }

  .form__textarea {
    min-height: 130px;
  }

  .form__fieldset-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 60px;
  }

  .form__notification {
    &--add {
      position: relative;
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;

      overflow: visible;
      clip-path: none;
    }
  }
}
