.information__slogan {
  margin-top: 40px;

  .title();
  line-height: 32px;
  text-align: center;
}

.information__wrapper {
  position: relative;
  .container();
  padding-top: 50px;

  background-color: @grey-bg-color;
}

.information__list {
  .list();
}
