.information {
  z-index: 1;

  &__wrapper {
    position: relative;

    padding-top: 40px;
    padding-bottom: 55px;

    background-color: @grey-bg-color;
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
  }

  &__slogan {
    display: block;
    width: 220px;
    margin: 0 auto;

    .title();
    line-height: 32px;
    text-align: center;
  }

  &__text {
    display: block;
    width: 220px;
    margin: 0 auto;
    padding-top: 30px;

    .title();
    line-height: 32px;
    text-align: center;
  }

  &__content {
    padding-top: 50px;

    background-color: @grey-bg-color;
  }

  &__list {
    .list();
  }
}
