.information {
  z-index: 1;
}

.information__wrapper {
  position: relative;

  padding-top: 40px;
  padding-bottom: 100px;

  background-color: @grey-bg-color;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.information__slogan {
  display: block;
  width: 220px;
  margin: 0 auto;

  .title();
  line-height: 32px;
  text-align: center;
}

.information__text {
  display: block;
  width: 220px;
  margin: 0 auto;
  padding-top: 30px;

  .title();
  line-height: 32px;
  text-align: center;
}

.information__content {
  padding-top: 50px;

  background-color: @grey-bg-color;
}

.information__list {
  .list();
}
