.intro {
  height: 300px;
  background-image: url("/source/img/iphone-hand-mobile@1x.png"),
    url("/source/img/bg-back-mobile@1x.jpg");
  background-position: 0 100%, center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title {
  padding-top: 25px;

  .title();
  color: @base-light-color;
}
