.intro {
  min-height: 665px;
  width: 100%;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0% 110px;
  background-repeat: no-repeat;
  background-size: auto auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 257px auto;
  }
}

.intro__content {
  width: 280px;

  margin: 0 auto;
  padding-top: 22px;
}

.intro__title {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  .title();
  line-height: 30px;
  color: @base-light-color;
  text-align: center;
}

.intro__download {
  margin-top: 315px;
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 616px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: 50% 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  .intro__wrapper {
    .tablet-wrapper();
  }

  .intro__content {
    margin: 0;
    padding-top: 90px;
  }

  .intro__title {
    padding-left: 30px;
    padding-right: 10px;

    font-size: 40px;
    line-height: 48px;
  }

  .intro__download {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 744px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 97% 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .intro__wrapper {
    .desktop-wrapper();
  }

  .intro__content {
    padding-top: 110px;
  }

  .intro__title {
    padding-left: 30px;

    font-size: 50px;
    line-height: 58px;
  }
}
