.intro__content {
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 100%, center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.intro__title {
  padding-top: 30px;
  padding-bottom: 320px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;

  .title();
  line-height: 30px;
  color: @base-light-color;
  text-align: center;
}
