.main-footer {
  position: relative;
  z-index: 1;
}

.main-footer__map-image {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.main-footer__contacts {
  width: 100%;

  background-color: #ffffff;
}
