.page-header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;

  background-color: @base-color;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin: 0 auto;
}

.page-header__logo {
  display: block;
  border-bottom: 1px solid @base-dark-color;
  box-shadow: 0 1px rgba(255, 255, 255, 0.15);

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    padding-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 35px;

    .desktop-wrapper();
  }

  .page-header__logo {
    width: 150px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;

    border-bottom: none;
    box-shadow: none;
  }
}
