.page-header {
  position: relative;

  background-color: @base-color;

  &__logo {
    display: block;
    border-bottom: 1px solid @base-dark-color;
    box-shadow: 0 1px rgba(255, 255, 255, 0.15);

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}
