.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;

  &:hover .page-footer__logo-icon path {
    fill: @add-color;
  }

  &:active .page-footer__logo {
    opacity: 0.3;

    &-icon path {
      fill: @base-color;
    }
  }

  &__social {
    padding-top: 35px;
  }

  &__copyright {
    display: flex;
    align-items: center;

    padding-top: 40px;
  }
}
