.page-footer {
  background-color: @base-light-color;

  &--main {
    .visually-hidden();
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 41px;
}

.page-footer__logo:hover .page-footer__logo-icon path,
.page-footer__logo:focus .page-footer__logo-icon path {
  fill: @add-color;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__logo:active .page-footer__logo-icon path {
  fill: @base-color;
}

.page-footer__social {
  padding-top: 35px;
}

.page-footer__copyright {
  display: flex;
  align-items: center;

  padding-top: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    &--main {
      position: absolute;
      z-index: 1;
      bottom: 0;

      width: 100%;
      height: auto;
      margin: 0;

      overflow: visible;
      clip: auto;
    }
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 35px;
    padding-bottom: 50px;
  }

  .page-footer__social {
    padding-top: 0;
  }

  .page-footer__copyright {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding-top: 95px;
    padding-bottom: 70px;
  }
}
