.photos__intro {
  width: 250px;

  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.photos__text {
  margin: 0;
  padding: 0;

  .text();
  line-height: 30px;
}

.photos__panorama {
  .list();
}

.photos__list {
  .mobile-wrapper();
  .list();
}

.photos__item {
  margin: 0 auto;

  width: 280px;

  &--panorama {
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      z-index: 1;

      display: block;
      padding: 10px 20px;
      top: 0;
      right: 20px;

      content: "Панорама дня";
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      color: @base-light-color;
      text-transform: uppercase;
      text-align: center;
      background-color: @add-color;
    }
  }
}

@media (min-width: @tablet-width) {
  .photos {
    display: flex;
    flex-direction: column;
  }

  .photos__intro {
    width: auto;

    padding-top: 95px;
    padding-bottom: 75px;

    .tablet-wrapper();
  }

  .photos__text {
    padding-left: 90px;
    padding-right: 90px;

    font-size: 18px;
  }

  .photos__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .tablet-wrapper();
  }

  .photos__item {
    width: 300px;

    &--panorama {
      width: 100%;

      &::before {
        top: 55px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__intro {
    padding-bottom: 90px;

    .desktop-wrapper();
  }

  .photos__text {
    padding-left: 180px;
    padding-right: 180px;
  }

  .photos__list {
    .desktop-wrapper();
  }
}
