.photos__intro {
  width: 250px;

  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.photos__text {
  margin: 0;
  padding: 0;

  .text();
  line-height: 30px;
}

.photos__list {
  .list();
}

.photos__item {
  margin: 0 auto;

  width: 280px;

  &--panorama {
    width: 100%;
  }
}


@media (min-width: @tablet-width) {
  .photos {
    display: flex;
    flex-direction: column;
  }

  .photos__intro {
    width: auto;

    padding-top: 95px;
    padding-bottom: 75px;

    .tablet-wrapper();
  }

  .photos__text {
    padding-left: 90px;
    padding-right: 90px;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .photos__intro {
    padding-bottom: 90px;

    .desktop-wrapper();
  }

  .photos__text {
    padding-left: 180px;
    padding-right: 180px;
  }
}
