.photos {
  &__intro {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  &__text {
    margin: 0;
  }

  &__list {
    .list();
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    width: 280px;

    &--panorama {
      width: 100%;
    }
  }
}
