@media (max-width: @tablet-width) {
  .research {
    .visually-hidden();
  }
}

@media (min-width: @tablet-width) {
  .research {
    position: relative;
    z-index: 1;
    width: auto;
    height: auto;
    margin: 0;

    clip-path: none;
    white-space: normal;
    background-color: @base-light-color;
  }

  .research__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 55px;
    padding-bottom: 47px;
  }

  .research__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
    margin-top: 15px;
    padding-left: 10px;
  }

  .research__icon {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    width: 240px;
    height: 280px;

    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 240px 280px;
    background-position: 0 0;
  }

  .research__icon-text {
    display: block;
    width: 202px;

    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 30px;
    margin-top: 34px;
    border: 15px solid @add-color;
    border-radius: 50%;

    font-family: inherit;
    font-size: 96px;
    font-weight: 700;
    color: @add-color;
  }

  .research__title {
    margin: 0;
    padding-bottom: 10px;
    padding-right: 10px;

    .subtitle();
    font-size: 30px;
    line-height: 36px;
  }

  .research__text {
    margin: 0;
    padding-bottom: 10px;

    .text();
  }

  .research__link {
    margin: 0;

    .text();
    color: @add-color;
    text-decoration: underline;

    cursor: pointer;
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @grey-bg-color;
  }

  .research__wrapper {
    padding-top: 18px;
    padding-bottom: 68px;
  }

  .research__content {
    width: 60%;
    padding-left: 0;
    margin-top: 40px;
    padding-right: 22px;
  }

  .research__icon {
    width: 298px;
    height: 345px;
    background-size: 298px 345px;
  }

  .research__icon-text {
    width: 253px;

    padding-top: 98px;
    padding-bottom: 98px;
    padding-left: 43px;
    margin-top: 40px;
    font-size: 120px;
  }

  .research__title {
    padding-bottom: 20px;
  }

  .research__text {
    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    padding-top: 25px;
    font-size: 18px;
  }
}
