@media (max-width: @tablet-width) {
  .research {
    .visually-hidden();
  }
}

@media (min-width: @tablet-width) {
  .research {
    position: relative;
    z-index: 2;

    background-color: @base-light-color;
  }

  .research__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .research__content {
    margin-left: 135px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .research__icon {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    width: 240px;
    height: 280px;

    &::before {
      position: absolute;

      display: block;
      width: 240px;
      height: 280px;

      content: "";
      background-image: url("../img/icon-timer.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      position: absolute;

      display: block;
      width: 202px;
      height: 202px;

      content: "";
      background-image: url("../img/diagram-fill.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .research__icon-text {
    padding-top: 10px;

    font-family: inherit;
    font-size: 96px;
    font-weight: 700;
    color: @add-color;
  }

  .research__title {
    margin: 0;
    padding-bottom: 20px;

    .subtitle();
  }

  .research__text {
    margin: 0;
    padding-bottom: 20px;

    .text();
  }

  .research__link {
    margin: 0;

    .text();
    color: @add-color;
    text-decoration: underline;

    cursor: pointer;
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @grey-bg-color;
  }

  .research__content {
    margin-left: 70px;
    padding-top: 120px;
    padding-bottom: 110px;
  }

  .research__icon {
    width: 345px;
    height: 298px;

    padding: 85px;
    font-size: 120px;
  }

  .research__title {
    font-size: 30px;
  }

  .research__text {
    font-size: 18px;
    line-height: 30px;
  }

  .research__link {
    font-size: 18px;
  }
}
