.reviews {
  position: relative;
  z-index: 2;

  background-color: @base-light-color;

  &__wrapper {
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;
  }

  &__item {
    margin: 0;
  }

  &__author-name {
    .subtitle();
    font-style: normal;
  }

  &__toggles {
    margin-top: 35px;
  }
}
