.reviews {
  background-color: @grey-bg-color;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.reviews__wrapper {
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}

.reviews__text {
  margin: 0;
  padding-top: 25px;
}

.reviews__item {
  margin: 0;
}

.reviews__author-name {
  .subtitle();
  font-style: normal;
}

.reviews__toggles {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 100px;
}
