.reviews {
  position: relative;
  z-index: 2;

  background-color: @grey-bg-color;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  &__wrapper {
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;
  }

  &__text {
    margin: 0;
    padding-top: 25px;
  }

  &__item {
    margin: 0;
  }

  &__author-name {
    .subtitle();
    font-style: normal;
  }

  &__toggles {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
