.site-list {
  .list();
  text-align: center;
  border-top: 1px solid @base-dark-color;

  &__link {
    color: @base-light-color;

    &--current {
      padding-bottom: 9px;

      color: @base-light-color;

      border-bottom: 2px solid @base-light-color;
    }
  }
}

.site-list__item {
  padding-top: 15px;
  padding-bottom: 15px;

  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid @base-dark-color;

  &:hover .site-list__link,
  &:focus .site-list__link {
    color: @add-color;
  }

  &:active .site-list__link {
    color: @base-light-color;

    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 620px;

    border-top: none;
  }

  .site-list__item {
    padding-bottom: 0;
    padding-top: 0;

    border-bottom: none;
    border-top: none;
  }
}
