.site-list {
  .list();
}

.site-list a {
  color: @base-light-color;
}

.site-list__item {
  border-bottom: 1px solid @base-dark-color;
  box-shadow: 0 1px rgba(255, 255, 255, 0.15);
}

.site-list__item:last-child {
  box-shadow: none;
}
