.slider__button {
  .visually-hidden();
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60px;
  margin: 0 auto;
}

.slider__toggle {
  display: block;
  width: 6px;
  height: 6px;

  padding: 0;

  background-color: #000000;
  opacity: 0.3;
  border: 1px solid transparent;
  border-radius: 50%;

  &--current {
    width: 12px;
    height: 12px;

    background-color: transparent;
    opacity: 1;
    border: 3px solid @base-color;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: @desktop-width) {
  .slider__list {
    position: relative;
  }

  .slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);

    display: block;
    width: 22px;
    height: 42px;

    margin: 0;

    background-color: transparent;
    clip-path: none;
    clip: auto;
    cursor: pointer;

    &--prev {
      left: 0;
      background-image: url("../img/icon-review-arrow-left.svg");
    }

    &--next {
      right: 0;
      background-image: url("../img/icon-review-arrow-right.svg");
    }
  }

  .slider__toggles {
    .visually-hidden();
  }
}
