.upload {
  text-align: center;
  background-color: @base-light-color;
}

.upload__content {
  padding-top: 25px;
  padding-bottom: 42px;
}

.upload__container {
  background-color: @grey-bg-color;
}

.upload__inner {
  padding-top: 20px;
}


.upload__text {
  .text();
  line-height: 30px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .upload__content {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .upload__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 660px;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;

    line-height: 0;
  }

  .upload__photo {
    width: 300px;
    height: 400px;
  }

  .upload__text {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .upload__container {
    padding-bottom: 65px;

    background-color: @base-light-color;
  }

  .upload__content {
    padding-top: 2px;
    padding-bottom: 66px;
  }

  .upload__inner {
    max-width: 940px;
    padding-left: 80px;
    padding-top: 57px;
    padding-right: 60px;

    background-color: @grey-bg-color;
  }
}
