.upload {
  text-align: center;
  background-color: @base-light-color;
}

.upload__content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.upload__container {
  background-color: @grey-bg-color;
}

.upload__inner {
  padding-top: 20px;
}


.upload__text {
  .text();
  margin: 0;
}

@media (min-width: @tablet-width) {
  .upload__content {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .upload__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 660px;
    margin: 0 auto;
    padding-top: 57px;
    padding-bottom: 55px;
  }

  .upload__text {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .upload__container {
    background-color: @base-light-color;
  }

  .upload__content {
    padding-top: 50px;
  }

  .upload__inner {
    max-width: 960px;
    padding-left: 80px;
    padding-top: 57px;
    padding-right: 60px;

    background-color: @grey-bg-color;
  }
}
